{
    "extends": [
        "airbnb",
        "plugin:prettier/recommended"
    ],
    "env": {
        "browser": true
    },
    "plugins": [
        "prettier",
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "semi": true
            }
        ],
        "yoda": 0,
        "no-unused-vars": 1,
        "jsx-a11y/anchor-is-valid": [
            {
                "components": [
                    "Link"
                ],
                "aspects": [
                    "noHref"
                ]
            }
        ]
    },
    "globals": {
        "$": false
    }
}