footer {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.footerList {
    width: 100%;
    -webkit-padding-start: 0px;
    list-style: none;
}

.footerListItem {
    display: inline-block;
    margin: 10px;
}

.footerListItem a {
    color: #2bbc8a;
}